<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
    <a href="/movies"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>  
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
  </body>
</html>
